In [1]:
import os
import pandas as pd
from IPython.display import display
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, when # pyspark sql functions
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType, TimestampType, DecimalType # pyspark sql types
import random
from faker import Faker
import uuid
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# SPARK SETUP
spark = SparkSession.builder.appName("PySpark Synthetic").getOrCreate() # Create a SparkSession, which is the entry point to any Spark functionality

# Initialize Faker
fake = Faker()

# Generate synthetic product data, this would be the raw data, extract phase, ingestion phase.
# can be replaced with data warehouse or data lake creation credentials
def generate_synthetic_product_data(num_records=1000):
    data = []
    product_ids = [fake.uuid4() for _ in range(num_records)]
    for product_id in product_ids:
        data.append({
            'product_id': product_id,
            'product_name': fake.word(),
            'product_category': random.choice(['Electronics', 'Clothing', 'Books', 'Home & Kitchen']),
            'product_price': round(random.uniform(10.0, 1000.0), 2),
            'product_description': fake.sentence(),
        })
    return data, product_ids

# Generate synthetic payment data
def generate_synthetic_payment_data(num_records=1000, product_ids=None):
    if product_ids is None or len(product_ids) < num_records:
        raise ValueError("Not enough product IDs provided")
    
    data = []
    for _ in range(num_records): 
        data.append({
            'transaction_id': fake.uuid4(),
            'customer_id': fake.uuid4(),
            'customer_name': fake.name(),
            'payment_amount': round(random.uniform(10.0, 1000.0), 2),
            'payment_method': random.choice(['Credit Card', 'Debit Card', 'PayPal', 'Bank Transfer']),
            'transaction_date': fake.date_this_year(),
            'country': fake.country(),
            'product_id': random.choice(product_ids),
        })
    return data

# Generate 1000 records of product data first
product_data, product_ids = generate_synthetic_product_data(1000)

# Convert product data to Pandas DataFrame before converting to Spark DataFrame
product_df = pd.DataFrame(product_data)
# Convert to Spark DataFrame
spark_product_df = spark.createDataFrame(product_df)

# Generate 1000 records of payment data using the product IDs
payment_data = generate_synthetic_payment_data(1000, product_ids)

# Convert payment data to Pandas DataFrame before converting to Spark DataFrame
payment_df = pd.DataFrame(payment_data)
# Convert to Spark DataFrame
spark_payment_df = spark.createDataFrame(payment_df)

# Repartition the DataFrames so that Spark can handle them efficiently
spark_product_df = spark_product_df.repartition(4)
spark_payment_df = spark_payment_df.repartition(4)

# Display schemas of both DataFrames for verification
spark_product_df.printSchema()
spark_payment_df.printSchema()

# Show the first few rows of both DataFrames for verification
spark_product_df.show(5)
spark_payment_df.show(5)

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_description: string (nullable = true)

root
 |-- transaction_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- payment_amount: double (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- transaction_date: date (nullable = true)
 |-- country: string (nullable = true)
 |-- product_id: string (nullable = true)

+--------------------+------------+----------------+-------------+--------------------+
|          product_id|product_name|product_category|product_price| product_description|
+--------------------+------------+----------------+-------------+--------------------+
|b3092659-9c09-47a...|         not|     Electronics|       140.27|Like factor organ...|
|87e9cda0-1e1b-456...|        late|           Books|       943.64|Idea cut nearly p...|
|6fc515b1-f72b-407...|      debate|        Clothing|       598.93|Various investmen...|
|767818a7-acd5-486...|        last|           Books|       941.79|Set necessary res...|
|bda8b365-a6a7-409...|       shake|     Electronics|       446.92|Left send ready its.|
+--------------------+------------+----------------+-------------+--------------------+
only showing top 5 rows

+--------------------+--------------------+----------------+--------------+--------------+----------------+-------------+--------------------+
|      transaction_id|         customer_id|   customer_name|payment_amount|payment_method|transaction_date|      country|          product_id|
+--------------------+--------------------+----------------+--------------+--------------+----------------+-------------+--------------------+
|c7ec46bc-4844-478...|c6cf815e-a97c-489...|     Keith Wiley|        545.36|   Credit Card|      2024-03-29|Cote d'Ivoire|912b77ab-e752-4db...|
|b8455e35-d5d3-43f...|1fb51cb2-d4e1-42e...|Trevor Henderson|        425.28| Bank Transfer|      2024-09-10|      Grenada|a26a5be6-d908-4be...|
|7b6ac9b7-b4d0-428...|961053bc-6c89-4f4...|   Diana Johnson|         863.8|        PayPal|      2024-02-12|      Germany|69fd2978-987e-40c...|
|a6765cc6-b146-430...|8f7310f9-a5f2-400...|   Margaret Kent|        571.44|    Debit Card|      2024-01-18|        Palau|9621f2ea-e82e-4ce...|
|7b219079-fd12-4b1...|452445a9-2ccb-40b...|  Susan Browning|        171.84|        PayPal|      2024-02-13|     Tanzania|9baa1b23-bd4d-4d6...|
+--------------------+--------------------+----------------+--------------+--------------+----------------+-------------+--------------------+
only showing top 5 rows

In [2]:
# Display the first 10 records
display(spark_payment_df.limit(10))

DataFrame[transaction_id: string, customer_id: string, customer_name: string, payment_amount: double, payment_method: string, transaction_date: date, country: string, product_id: string]

In [3]:
# check data types
spark_payment_df.dtypes
# double is a float in pyspark

[('transaction_id', 'string'),
 ('customer_id', 'string'),
 ('customer_name', 'string'),
 ('payment_amount', 'double'),
 ('payment_method', 'string'),
 ('transaction_date', 'date'),
 ('country', 'string'),
 ('product_id', 'string')]

In [4]:

# Feature Engineering
from pyspark.sql.functions import year, month, dayofweek, datediff, current_date, when, col, avg, sum, row_number, desc
from pyspark.sql.window import Window # Window is used for window functions and we need lag function for days since last transaction
from pyspark.sql.functions import lag

# 1. Extract time-based features. for each row, extract the year, month, and day of the week
spark_payment_df = spark_payment_df.withColumn("transaction_year", year("transaction_date"))
spark_payment_df = spark_payment_df.withColumn("transaction_month", month("transaction_date"))
spark_payment_df = spark_payment_df.withColumn("transaction_day_of_week", dayofweek("transaction_date"))

# 2. Calculate days since last transaction (for each customer), so we can see if the customer is active or not
window_spec = Window.partitionBy("customer_id").orderBy("transaction_date") # Window specification for the window function
spark_payment_df = spark_payment_df.withColumn("days_since_last_transaction", 
                                               datediff("transaction_date", lag("transaction_date").over(window_spec))) # lag is the previous row by partition via window specification

# 3. Create a binary feature for high-value transactions, so we can see if the transaction is a high value transaction
avg_payment = spark_payment_df.select(avg("payment_amount")).first()[0]
spark_payment_df = spark_payment_df.withColumn("is_high_value_transaction", 
                                               when(col("payment_amount") > avg_payment, 1).otherwise(0))

# 4. Calculate customer lifetime value (CLV), this is the total amount of money a customer will spend on the business, it implies customer loyalty
clv_df = spark_payment_df.groupBy("customer_id").agg(sum("payment_amount").alias("customer_lifetime_value"))
spark_payment_df = spark_payment_df.join(clv_df, on="customer_id", how="left")

# 5. Create a binary feature for preferred payment method, this is to see if the customer is using their preferred payment method
# we extract it by grouping the payment method by customer and ordering it by the count of the payment method, then we take the first row, which gives us the most used payment method
preferred_payment_method = spark_payment_df.groupBy("customer_id", "payment_method").count() \
                                           .withColumn("rank", row_number().over(Window.partitionBy("customer_id").orderBy(desc("count")))) \
                                           .filter(col("rank") == 1) \
                                           .select("customer_id", "payment_method").withColumnRenamed("payment_method", "preferred_payment_method")
spark_payment_df = spark_payment_df.join(preferred_payment_method, on="customer_id", how="left") \
                                   .withColumn("is_preferred_payment_method", 
                                               when(col("payment_method") == col("preferred_payment_method"), 1).otherwise(0))

In [5]:
#strip time from transaction_date
spark_payment_df = spark_payment_df.withColumn("transaction_date", col("transaction_date").cast(DateType()))

In [6]:
#check values in tx date
spark_payment_df.select("transaction_date").show()

+----------------+
|transaction_date|
+----------------+
|      2024-05-06|
|      2024-04-01|
|      2024-02-22|
|      2024-09-24|
|      2024-09-29|
|      2024-08-21|
|      2024-08-31|
|      2024-08-15|
|      2024-01-06|
|      2024-03-16|
|      2024-09-04|
|      2024-10-01|
|      2024-05-26|
|      2024-02-21|
|      2024-01-31|
|      2024-06-29|
|      2024-09-25|
|      2024-02-12|
|      2024-02-28|
|      2024-02-13|
+----------------+
only showing top 20 rows

In [7]:
#check product data
spark_product_df.show()

+--------------------+------------+----------------+-------------+--------------------+
|          product_id|product_name|product_category|product_price| product_description|
+--------------------+------------+----------------+-------------+--------------------+
|b3092659-9c09-47a...|         not|     Electronics|       140.27|Like factor organ...|
|87e9cda0-1e1b-456...|        late|           Books|       943.64|Idea cut nearly p...|
|6fc515b1-f72b-407...|      debate|        Clothing|       598.93|Various investmen...|
|767818a7-acd5-486...|        last|           Books|       941.79|Set necessary res...|
|bda8b365-a6a7-409...|       shake|     Electronics|       446.92|Left send ready its.|
|6fe897a3-6d33-4b9...|     discuss|           Books|       884.03|Land commercial b...|
|db737b8e-915f-4c8...|       those|           Books|       268.73|Dinner amount alo...|
|7ff4721b-cff6-40d...|      health|        Clothing|       254.89|Us movement eithe...|
|c7b7334e-934d-4ab...|       piece|     Electronics|        601.6| Painting often boy.|
|a80b7273-5292-409...|   political|     Electronics|       281.62|Glass between sea...|
|da2b0a37-728e-422...|     soldier|        Clothing|       147.77|  Either son detail.|
|08812877-1aed-410...|     article|     Electronics|       650.66|Require wrong rel...|
|71a6037d-50cc-462...|     mention|           Books|       697.81|Result provide in...|
|8ee1da01-e74b-4d5...|       issue|           Books|         49.7|Age reality bag o...|
|e431eae7-33a1-4de...|     compare|           Books|        836.2|Pressure value ev...|
|fe2c0535-3c8e-4fa...|      within|     Electronics|       904.75|After stop fly pu...|
|e64e2b71-ee54-4af...|         ten|     Electronics|       980.56|Learn report mind...|
|3d50bb81-7850-4b0...|       serve|        Clothing|       251.82|He whatever value...|
|d3508a66-dcea-4a8...|        task|     Electronics|       971.44|Piece rich part a...|
|1c156245-bbdc-4f0...|        this|     Electronics|       307.64|Type player card ...|
+--------------------+------------+----------------+-------------+--------------------+
only showing top 20 rows

In [8]:
# we will set up a snapshot system implementation
# first we will add new fields, valid_from and valid_to and last extract date (to highlight the last date of the snapshot)

from pyspark.sql.functions import lit # lit is used to create a new column with a constant value
from datetime import date

#define initial snappshot
today = date.today()

# create new snapshot DF's for product df

snapshot_product_df = spark_product_df.withColumn("valid_from", lit(today)) \
                                        .withColumn("valid_to", lit("31-23-9999")) \
                                        .withColumn("last_extract", lit(1))

In [10]:
# same for payment df
snapshot_payment_df = spark_payment_df.withColumn("valid_from", lit(today)) \
                                        .withColumn("valid_to", lit("31-23-9999")) \
                                        .withColumn("last_extract", lit(1))

In [11]:
#check snapshot product data
snapshot_product_df.show()
snapshot_payment_df.show()

+--------------------+------------+----------------+-------------+--------------------+----------+----------+------------+
|          product_id|product_name|product_category|product_price| product_description|valid_from|  valid_to|last_extract|
+--------------------+------------+----------------+-------------+--------------------+----------+----------+------------+
|b3092659-9c09-47a...|         not|     Electronics|       140.27|Like factor organ...|2024-10-20|31-23-9999|           1|
|87e9cda0-1e1b-456...|        late|           Books|       943.64|Idea cut nearly p...|2024-10-20|31-23-9999|           1|
|6fc515b1-f72b-407...|      debate|        Clothing|       598.93|Various investmen...|2024-10-20|31-23-9999|           1|
|767818a7-acd5-486...|        last|           Books|       941.79|Set necessary res...|2024-10-20|31-23-9999|           1|
|bda8b365-a6a7-409...|       shake|     Electronics|       446.92|Left send ready its.|2024-10-20|31-23-9999|           1|
|6fe897a3-6d33-4b9...|     discuss|           Books|       884.03|Land commercial b...|2024-10-20|31-23-9999|           1|
|db737b8e-915f-4c8...|       those|           Books|       268.73|Dinner amount alo...|2024-10-20|31-23-9999|           1|
|7ff4721b-cff6-40d...|      health|        Clothing|       254.89|Us movement eithe...|2024-10-20|31-23-9999|           1|
|c7b7334e-934d-4ab...|       piece|     Electronics|        601.6| Painting often boy.|2024-10-20|31-23-9999|           1|
|a80b7273-5292-409...|   political|     Electronics|       281.62|Glass between sea...|2024-10-20|31-23-9999|           1|
|da2b0a37-728e-422...|     soldier|        Clothing|       147.77|  Either son detail.|2024-10-20|31-23-9999|           1|
|08812877-1aed-410...|     article|     Electronics|       650.66|Require wrong rel...|2024-10-20|31-23-9999|           1|
|71a6037d-50cc-462...|     mention|           Books|       697.81|Result provide in...|2024-10-20|31-23-9999|           1|
|8ee1da01-e74b-4d5...|       issue|           Books|         49.7|Age reality bag o...|2024-10-20|31-23-9999|           1|
|e431eae7-33a1-4de...|     compare|           Books|        836.2|Pressure value ev...|2024-10-20|31-23-9999|           1|
|fe2c0535-3c8e-4fa...|      within|     Electronics|       904.75|After stop fly pu...|2024-10-20|31-23-9999|           1|
|e64e2b71-ee54-4af...|         ten|     Electronics|       980.56|Learn report mind...|2024-10-20|31-23-9999|           1|
|3d50bb81-7850-4b0...|       serve|        Clothing|       251.82|He whatever value...|2024-10-20|31-23-9999|           1|
|d3508a66-dcea-4a8...|        task|     Electronics|       971.44|Piece rich part a...|2024-10-20|31-23-9999|           1|
|1c156245-bbdc-4f0...|        this|     Electronics|       307.64|Type player card ...|2024-10-20|31-23-9999|           1|
+--------------------+------------+----------------+-------------+--------------------+----------+----------+------------+
only showing top 20 rows

+--------------------+--------------------+-------------------+--------------+--------------+----------------+--------------------+--------------------+----------------+-----------------+-----------------------+---------------------------+-------------------------+-----------------------+------------------------+---------------------------+----------+----------+------------+
|         customer_id|      transaction_id|      customer_name|payment_amount|payment_method|transaction_date|             country|          product_id|transaction_year|transaction_month|transaction_day_of_week|days_since_last_transaction|is_high_value_transaction|customer_lifetime_value|preferred_payment_method|is_preferred_payment_method|valid_from|  valid_to|last_extract|
+--------------------+--------------------+-------------------+--------------+--------------+----------------+--------------------+--------------------+----------------+-----------------+-----------------------+---------------------------+-------------------------+-----------------------+------------------------+---------------------------+----------+----------+------------+
|0010cbcb-68f8-483...|dae035b0-83e7-45a...|Alexander Armstrong|        715.47| Bank Transfer|      2024-03-08|             Nigeria|9c5eedd1-88b6-46c...|            2024|                3|                      6|                       NULL|                        1|                 715.47|           Bank Transfer|                          1|2024-10-20|31-23-9999|           1|
|0092cc6a-aff3-43e...|aa0466cf-2297-452...|         Joel Perry|         61.54|    Debit Card|      2024-05-30|            Slovenia|9b941411-e27b-4c7...|            2024|                5|                      5|                       NULL|                        0|                  61.54|              Debit Card|                          1|2024-10-20|31-23-9999|           1|
|00b1ed56-6e92-4c2...|53bb5803-2897-4c6...|    Elizabeth Costa|        198.64| Bank Transfer|      2024-06-12|Heard Island and ...|50af1e90-45a4-4f0...|            2024|                6|                      4|                       NULL|                        0|                 198.64|           Bank Transfer|                          1|2024-10-20|31-23-9999|           1|
|00e30611-0008-4bd...|f6fce3a0-6369-402...|     Richard Mendez|        146.24|        PayPal|      2024-09-18|                Peru|6b1d6989-e9c1-490...|            2024|                9|                      4|                       NULL|                        0|                 146.24|                  PayPal|                          1|2024-10-20|31-23-9999|           1|
|01129252-2476-4fa...|d4b200e5-49c3-4ed...|        Jamie Brady|        414.32|        PayPal|      2024-03-13|            Zimbabwe|1630947f-74e1-4b9...|            2024|                3|                      4|                       NULL|                        0|                 414.32|                  PayPal|                          1|2024-10-20|31-23-9999|           1|
|0127fd0c-0d78-467...|98d27437-025f-4f2...|    Stephanie Young|        118.03|   Credit Card|      2024-09-16|            Suriname|97f635ac-5d24-40b...|            2024|                9|                      2|                       NULL|                        0|                 118.03|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|01317929-fc90-4ea...|396308ce-a607-4a8...| Christine Stephens|        825.18| Bank Transfer|      2024-01-03|             Ukraine|e50302ca-49f3-4ca...|            2024|                1|                      4|                       NULL|                        1|                 825.18|           Bank Transfer|                          1|2024-10-20|31-23-9999|           1|
|024ef2ce-6294-4fe...|ccffa562-aeed-433...|      Timothy Horne|        184.07|   Credit Card|      2024-04-18|              Jersey|e30516f7-ecc5-449...|            2024|                4|                      5|                       NULL|                        0|                 184.07|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|0259069d-21de-43b...|ba24e6a2-79d5-414...|   Madeline Cordova|        275.88|   Credit Card|      2024-09-15|              Latvia|991c478b-0f28-460...|            2024|                9|                      1|                       NULL|                        0|                 275.88|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|02b446f0-e9e6-488...|734a90bb-85f4-446...|    Amanda Williams|        589.63| Bank Transfer|      2024-07-24|             Moldova|8fcd9c60-9d8d-41d...|            2024|                7|                      4|                       NULL|                        1|                 589.63|           Bank Transfer|                          1|2024-10-20|31-23-9999|           1|
|02d4e2e1-cef0-457...|28006c26-b61a-492...|      Andrea Nguyen|        345.21|   Credit Card|      2024-08-16|          San Marino|564fd807-effa-42f...|            2024|                8|                      6|                       NULL|                        0|                 345.21|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|034161a3-db34-434...|14dd1b10-4eaa-4a6...|       Wendy Jordan|        121.31|    Debit Card|      2024-08-10|            Ethiopia|db1171d8-23d6-49f...|            2024|                8|                      7|                       NULL|                        0|                 121.31|              Debit Card|                          1|2024-10-20|31-23-9999|           1|
|0457c188-cd79-415...|7353df8d-8e12-44f...|    Kenneth Freeman|        178.76|   Credit Card|      2024-08-14|          Mozambique|3425e431-9ca3-4eb...|            2024|                8|                      4|                       NULL|                        0|                 178.76|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|04675b52-965b-444...|e421bb8f-8a7c-414...|         James Webb|         159.1|        PayPal|      2024-01-25|               Congo|b2a3fd50-f8ff-4a9...|            2024|                1|                      5|                       NULL|                        0|                  159.1|                  PayPal|                          1|2024-10-20|31-23-9999|           1|
|047aed7d-fc0e-4ed...|b6b4af99-0108-4ee...|     Melanie Harvey|        878.34|   Credit Card|      2024-04-23|              Jersey|60056ccb-220d-438...|            2024|                4|                      3|                       NULL|                        1|                 878.34|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|049cfba6-451e-48c...|e707880d-7ec8-4dc...|           Amy Luna|         707.4|        PayPal|      2024-01-31|         Saint Lucia|f8f9290c-af25-4c6...|            2024|                1|                      4|                       NULL|                        1|                  707.4|                  PayPal|                          1|2024-10-20|31-23-9999|           1|
|0515ec7f-4970-4c5...|89e12304-6a93-4b2...|         Megan Byrd|        540.68| Bank Transfer|      2024-02-14|Holy See (Vatican...|a5f0cd03-db0f-42e...|            2024|                2|                      4|                       NULL|                        1|                 540.68|           Bank Transfer|                          1|2024-10-20|31-23-9999|           1|
|05666fb5-045c-488...|4d6f908d-7703-4fd...|    Patricia Vargas|        167.27|   Credit Card|      2024-01-22|              Greece|df007e77-45b4-4a0...|            2024|                1|                      2|                       NULL|                        0|                 167.27|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|05837cef-6b3d-480...|00a10157-3260-4e7...|       Isaiah White|        987.15|   Credit Card|      2024-01-01|          Bangladesh|4169ac5a-ca92-4b2...|            2024|                1|                      2|                       NULL|                        1|                 987.15|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
|05bf7ec7-3b63-46a...|716938b3-1649-49c...|        Raven Lewis|        264.45|   Credit Card|      2024-06-11|     Kyrgyz Republic|4352bc50-466a-401...|            2024|                6|                      3|                       NULL|                        0|                 264.45|             Credit Card|                          1|2024-10-20|31-23-9999|           1|
+--------------------+--------------------+-------------------+--------------+--------------+----------------+--------------------+--------------------+----------------+-----------------+-----------------------+---------------------------+-------------------------+-----------------------+------------------------+---------------------------+----------+----------+------------+
only showing top 20 rows